<H2>Recruit a Team</H2>
<br>
<form>
    <div class="form">
    <!--     <div class="col-auto"> -->
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <select id="officers">
                            <option value="SP.">SP.</option>
                            <option value="DSP.">DSP.</option>
                            <option value="Insp.">Insp.</option>
                            <option value="SI.">SI.</option>
                            <option value="ASI.">ASI.</option>
                            <option value="Const.">Const.</option>
                        </select>
                    </div>
                </div>
                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Officer Name">
            </div>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <select id="officers">
                            <option value="SP.">SP.</option>
                            <option value="DSP.">DSP.</option>
                            <option value="Insp.">Insp.</option>
                            <option value="SI.">SI.</option>
                            <option value="ASI.">ASI.</option>
                            <option value="Const.">Const.</option>
                        </select>
                    </div>
                </div>
                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Officer Name">
            </div>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <select id="officers">
                            <option value="SP.">SP.</option>
                            <option value="DSP.">DSP.</option>
                            <option value="Insp.">Insp.</option>
                            <option value="SI.">SI.</option>
                            <option value="ASI.">ASI.</option>
                            <option value="Const.">Const.</option>
                        </select>
                    </div>
                </div>
                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Officer Name">
            </div>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <select id="officers">
                            <option value="SP.">SP.</option>
                            <option value="DSP.">DSP.</option>
                            <option value="Insp.">Insp.</option>
                            <option value="SI.">SI.</option>
                            <option value="ASI.">ASI.</option>
                            <option value="Const.">Const.</option>
                        </select>
                    </div>
                </div>
                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Officer Name">
            </div>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <select id="officers">
                            <option value="SP.">SP.</option>
                            <option value="DSP.">DSP.</option>
                            <option value="Insp.">Insp.</option>
                            <option value="SI.">SI.</option>
                            <option value="ASI.">ASI.</option>
                            <option value="Const.">Const.</option>
                        </select>
                    </div>
                </div>
                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Officer Name">
            </div>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <select id="officers">
                            <option value="SP.">SP.</option>
                            <option value="DSP.">DSP.</option>
                            <option value="Insp.">Insp.</option>
                            <option value="SI.">SI.</option>
                            <option value="ASI.">ASI.</option>
                            <option value="Const.">Const.</option>
                        </select>
                    </div>
                </div>
                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Officer Name">
            </div>
       
       <!--  </div> -->
    </div>
    <div class="btn">
        <button class="btn btn-primary" onclick="recruitNow()">Recruit</button><a style="margin-left: 10px;" routerLink="/assigned-complaint">Go to Assigned Complaints</a>
    </div>
</form>