<div class="container">
    <form>
            <u><h2 style="text-align:justify;">Complainer's Detail</h2></u>
            <div class="form-row" style="margin-top: 30px;">
                <div class="col">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" name="firstName"
                    [(ngModel)]="publicData.firstName" readonly>
               
                </div>
                <div class="col">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control"name="lastName" 
                    [(ngModel)]="publicData.lastName" readonly>
               
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <label for="phNum">Phone number</label>
                    <input type="number" class="form-control"name="phNum"
                    [(ngModel)]="publicData.phNum" readonly>
            
                </div>
                <div class="col">
                    <label for="address">Address</label>
                    <input type="text" class="form-control"  name="address"
                    [(ngModel)]="publicData.address" readonly>               
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <label for="age">Age</label>
                    <input type="number" class="form-control"  name="age"
                    [(ngModel)]="publicData.age" readonly>
              
                </div>
                <div class="col">
                    <label for="citizenshipNumber">Citizenship Number</label>
                    <input type="text" class="form-control"  name="citizenshipNumber"
                    [(ngModel)]="publicData.citizenshipNumber" readonly>
              
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    
                    <label for="gender">Gender</label>
                    <input type="text" name="gender" class="form-control"
                    [(ngModel)]="publicData.gender" readonly>
                 
                </div>
                <div class="col">
                    <label for="incidentAddress">Incident Address</label>
                    <input type="text" name="incidentAddress" class="form-control"
                    [(ngModel)]="publicData.incidentAddress" readonly>
               
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <label for="incidentDetail">Incident Detail</label><br>
                    <textarea name="incidentDetails" cols="100" rows="5" 
                    [(ngModel)]="publicData.incidentDetails" class="form-control" 
                    readonly></textarea>
                </div>
            </div>     
    </form>
</div>